h1 {
  background-color: rgb(42, 61, 165);
  text-align: center;
  text-decoration: underline;
  font-family: fantasy;
}
body {
  background-color: rgb(48, 79, 159);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h6 {
  font-size: 32px;
  font-weight: lighter;
}
section {
  background-color: rgb(10, 73, 121);
  width: 760px;
  height: 450px;
  margin: auto;
  border-radius: 30px;
}
section:hover {
  transform: scale(1, 2);
}
