body {
  background-color: #448088;
  font-family: Arial;
  margin: 0;
}

h1 {
  background-color: #befbff;
  text-align: center;
  text-decoration: underline;
  margin: 0;
}

img {
  width: 212px;
  height: 250px;
  display: block;
  margin: 10px auto;
  display: inline-block;
  text-align: c;
}

ul {
  padding: 0;
  text-align: center;
}

li {
  list-style: none;
  margin: 5px;
}

a {
  display: block;
  text-align: center;
  margin: 10px;
}

h2,
h3,
p {
  text-align: center;
}

img {
  transition: 0.3s;
}

img:hover {
  transform: scale(1.2);
}
h2 {
  background-color: #befbff;
  font-family: cursive;
}
footer {
  background-color: #53b9c6;
  text-align: center;
  padding: 20px;
}
.cuadrado {
  width: 1200px;
  height: 800px;
  background-color: #649210;

  margin: 50px auto;
}

.cuadrado2 {
  background-color: #53b9c6;
}
section p {
  background-color: #448088;
}
